#{extends 'main.html' /} #{set title:'Home' /}

<script type="text/javascript">
<!--
	function deleteSandwich() {

		var m = /([a-z]+)-(\d+)/.exec(el), data = {}
		data['sandwich.id'] = m[2]

		$.ajax({
			url : '@{supprimerSandwich()}',
			type : 'POST',
			data : data,
			success : function() {
				$('#' + el).html(n)
			},
			error : function() {
				$('#' + el).html(o)
			}
		})

		return true
	}
//-->
</script>

<div class="container-fluid center">

	<div class="row">
		<h1 class="span9">Modifier les Sandwiches</h1>
		<button href="#addSandPop" data-toggle="modal"
			class="btn btn-primary span3 ajoutS">Ajout</button>
		<div class="span12">
			<div class="well">
				<table class="table">
					<tr>
						<th>Nom du Sandwich</th>
						<th>Prix (€)</th>
						<th>Description</th>
						<th>Disponibilité</th>
						<th>Supprimer</th>
					</tr>
					#{list l, as:'sandwich'}
					<tr class="sandwich">
						<td id="name-${sandwich.id}" class="carac">${sandwich.name}</td>
						<td id="prix-${sandwich.id}" class="carac">${sandwich.prix}</td>
						<td id="description-${sandwich.id}" class="carac">${sandwich.description}</td>
						<td><input id="disponibilite-${sandwich.id}" class="check" type="checkbox"
							#{if sandwich.disponibilite} checked #{/if}/></td>
						<td><a class="btn btn-danger "
							href="@{Sodexo.supprimerSandwich(sandwich)}">----->x<-----</a></td>
					</tr>
					#{/list}
				</table>

			</div>

		</div>
	</div>
</div>

<div id="addSandPop" class="modal hide fade" style="display: none;">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Ajouter un Sandwich</h3>
	</div>
	#{form @Sodexo.nouveauSandwich()}
	<div class="modal-body form-horizontal">

		<div class="control-group">
			<label class="control-label" for="name">Nom du Sandwich :</label>
			<div class="controls">
				<input type="text" name="name" id="name"
					placeholder="Nom du Sandwich" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">Description :</label>
			<div class="controls">
				<input type="text" name="description" id="description"
					placeholder="Description" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="prix">Prix :</label>
			<div class="controls">
				<input type="number" step="0.01" name="prix" id="prix" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Fermer</a>
		<button type="submit" class="btn btn-primary">Envoyer</button>
	</div>
	#{/form}
</div>

<script type="text/javascript" charset="${_response_encoding}">
	// In place edition
	$(".sandwich .carac").editInPlace({
		bg_over : 'transparent',
		callback : function(el, n, o) {
			var m = /([a-z]+)-(\d+)/.exec(el), data = {}
			data['sandwich.id'] = m[2]
			data['sandwich.' + m[1]] = n

			// Save result
			$.ajax({
				url : '@{modifierSandwich()}',
				type : 'POST',
				data : data,
				success : function() {
					$('#' + el).html(n)
				},
				error : function() {
					$('#' + el).html(o)
				}
			})

			return true
		}
	})
	
	// In place edition for the checkBox
	$(".sandwich .check").click(function() {
		
		var m = /([a-z]+)-(\d+)/.exec($(this).attr("id")), data = {}
		data['sandwich.id'] = m[2]
		data['sandwich.disponibilite'] = false;
 		 if($(this).is(':checked')){
 			data['sandwich.disponibilite'] = true;
 		 }
 		 
			$.ajax({
				url : '@{modifierSandwich()}',
				type : 'POST',
				data : data,
				success : function() {
					$('#' + el).html(n)
				},
				error : function() {
					$('#' + el).html(o)
				}
			})

			return true
	});
	
</script>