#{extends 'main.html' /}
#{set title:'Home' /}

<ul class="breadcrumb">
	<li>#{a @Application.index()}Home#{/a}</li>
</ul>

#{if sandwiches}
	<h1>Sandwiches disponibles</h1>
	<br/>
		#{list sandwiches, as:'sandwich'}
		<div class="well">
		<h2>
			<a>${sandwich.name}</a>
		</h2>
		
		${sandwich.description}
		<br/>
		Prix : ${sandwich.prix} €
		
		<a class="pull-right">Commander ce sandwich</a>	
		</div>
	
		#{/list}
	#{/if}
	
#{else}
	<div>
		Pas de sandwich disponible actuellement.
	</div>
#{/else}
	
	