#{extends 'main.html' /} #{set title:'Home' /} 


<ul class="breadcrumb">
	<li>#{a @Application.index()}Home#{/a}</li>
</ul>
<div class="container-fluid center">
	<div class="row">
		#{if sandwiches}
		<h1>Sandwiches disponibles</h1>

		<div class="span9">
		
		   %{i=0;
		   
		   }%

			<br /> #{list sandwiches, as:'sandwich'}
			<div class="well">
				<h2>
					<a>${sandwich.name}</a>
				</h2>
				
				%{i++;
				}%

				<p>
					${sandwich.description} <br /> Prix : ${sandwich.prix} €
				</p>
				 
				<div class="row">
			        <div id="${i}" class="count span1 offset7" >
			        <div class="btn btn-danger">-</div>
			        <div class="btn btn-success ajt">+</div>
			        </div>
				
					<div class="span1 offset7">
						<div id="btn${i}" class="btn" onclick="buttonPressed(${i})">Choisir</div>
					</div>
				</div>

			</div>

			#{/list} #{/if} #{else}
			<div>Pas de sandwich disponible actuellement.</div>

			#{/else}
		</div>
		<div class="span3 offset9 well panier">
			<h2>Panier</h2>
		</div>
	</div>

</div>